<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <link href="/static/css/style.css"/>
    <script defer src="/static/js/script.js"></script>
</head>
<body>
    <noscript>You need to enable JavaScript to run this application</noscript>
    <header>
        <h1>Error</h1>
    </header>
    <main>
        <section>
            <h2>An error occured</h2>
        </section>
    </main>
    <footer>
        &copy;2024<small>mnc</small>
    </footer>
</body>
</html>