<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Multiple Networking Chatrooms</title>
    <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
    <script defer src="/static/js/script.js"></script>
    <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
</head>
<body>
    <noscript>You need to enable JavaScript to run this application</noscript>
    <header>
        <h1>MNC</h1>
    </header>
    <main>
        <section id="error" style="display: hidden"></section>
        <section>
            <h2>What to do</h2>
            <p>
                MNC is an acronym for Multiple Networking Chatrooms. In MNC, a user has the ability to begin chatrooms that are focussed on specific conversations. Rooms are created for a reason and as a result, a room should have a simple description. This is to enable any interested parties to peek through each room as they seek networking opportuinties online. It should be noted that the administrator has the right to set a ceiling on the number of participants and may choose to admit whoever they want.
            </p>
            <button id="explore" class="anchor">explore rooms</button>
        </section>
        <section id="exploration">
            <!-- to hold rooms data -->
        </section>
    </main>
    <footer>
        &copy;2024<small>mnc</small>
    </footer>
</body>
</html>